<VirtualHost *:80>
   ServerAdmin your_mail@example.cat
   ServerName codereview.example.cat

   # Logs
   ErrorLog /opt/rietveld/log/error.log
   CustomLog /opt/rietveld/log/access.log combined
   LogLevel notice

   # Django gives out static resources only in development mode
   # Setting up static/ resource serving
   Alias /static /opt/rietveld/static
   Alias /media /usr/local/lib/python2.6/dist-packages/django/contrib/admin/media

   WSGIDaemonProcess codereview threads=5 user=www-data umask=0026 home=/opt/rietveld display-name=wsgi:rietveld
   WSGIProcessGroup codereview

   WSGIScriptAlias / /opt/rietveld/codereview.wsgi
</VirtualHost>

